<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class='body-overlay'>
            <% if(currentUser) {%>
                <h1>
                    <a href='/profiles/newuser'>Create New Profile</a>
                </h1>
        <div class="main-index">
            <% for (let i = 0; i < profile.length; i++){%>
            <div class='indexdisplay' onclick="location.href='/profiles/<%= profile[i].id %>'">
                <img src="<%=profile[i].profileimg %>" class="homeimg" alt="profileimg">
                <div class="username"><%= profile[i].name %></div> 
            </div>
            <% } %>
        </div>
    </div>
    <% } else { %>
        <div class="main-index">
            <% for (let i = 0; i < profile.length; i++){%>
            <div class='indexdisplay' onclick="location.href='/profiles/<%= profile[i].id %>'">
                <img src="<%=profile[i].profileimg %>" class="homeimg" alt="profileimg">
                <div class="username"><%= profile[i].name %></div> 
            </div>
            <% } %>
        </div>
    </div>
    <% }%>
        <%- include('../partials/footer.ejs') %>
</body>
</html>


    
   
       
    