<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
        <main>
            <% if(currentUser) {%>
            <a href="/profiles/<%=profile.id%>/edit/">Edit Profile</a>
            <div class="profilewrapper">
                <div class="bioimage"><img class="profileimg" src="<%=profile.profileimg %>" alt="profileimage"></div>
                <div class="bio"><p><%=profile.name %></p>
                    <textarea name="bio" id="bio" cols="30" rows="10"><%=profile.about %></textarea>
                </div>
                <div class="skills"><p>Skills List</p>
                    <ul>
                        <li><%=profile.skills %></li>
                    </ul>
                </div>
            </div>
            <span>Project Pictures</span>
            <div class="gallery-container"> 
                <div class="thumbnails"></div>
                <div class="slides">
                  <div><img src="<%=profile.projectsimga %>"></div>
                  <div><img src="<%=profile.projectsimgb %>"></div>
                  <div><img src="<%=profile.projectsimgc %>"></div>
                  <div><img src="<%=profile.projectsimgd %>"></div>
                  <div><img src="<%=profile.projectsimge %>"></div>
                  <div><img src="<%=profile.projectsimgf %>"></div>
                </div>
            </div>
            <% } else { %>
                <a href="/profiles" class="logoutbtn">Back to Profiles Index</a>
            <div class="profilewrapper">
                <div class="bioimage"><img class="profileimg" src="<%=profile.profileimg %>" alt="profileimage"></div>
                <div class="bio"><p><%=profile.name %></p>
                    <textarea name="bio" id="bio" cols="30" rows="10"><%=profile.about %></textarea>
                </div>
                <div class="skills"><p>Skills List</p>
                    <h5 style="color:black;"><%=profile.skills %></h5>
                </div>
            </div>
            <span>Project Pictures</span>
            <!-- https://www.30secondsofcode.org/css/s/horizontal-gallery for gallery code -->
            <div class="gallery-container"> 
                <div class="thumbnails"></div>
                <div class="slides">
                  <div><img src="<%=profile.projectsimga %>"></div>
                  <div><img src="<%=profile.projectsimgb %>"></div>
                  <div><img src="<%=profile.projectsimgc %>"></div>
                  <div><img src="<%=profile.projectsimgd %>"></div>
                  <div><img src="<%=profile.projectsimge %>"></div>
                  <div><img src="<%=profile.projectsimgf %>"></div>
                </div>
              </div>
            <% }%>
        </main>
    <%- include('../partials/footer.ejs') %>
</body>
<script>
    const slideGallery = document.querySelector('.slides');
    const slides = slideGallery.querySelectorAll('div');
    const thumbnailContainer = document.querySelector('.thumbnails');
    const slideCount = slides.length;
    const slideWidth = 540;

    const highlightThumbnail = () => {
    thumbnailContainer
        .querySelectorAll('div.highlighted')
        .forEach(el => el.classList.remove('highlighted'));
    const index = Math.floor(slideGallery.scrollLeft / slideWidth);
    thumbnailContainer
        .querySelector(`div[data-id="${index}"]`)
        .classList.add('highlighted');
    };

    const scrollToElement = el => {
    const index = parseInt(el.dataset.id, 10);
    slideGallery.scrollTo(index * slideWidth, 0);
    };

    thumbnailContainer.innerHTML += [...slides]
    .map((slide, i) => `<div data-id="${i}"></div>`)
    .join('');

    thumbnailContainer.querySelectorAll('div').forEach(el => {
    el.addEventListener('click', () => scrollToElement(el));
    });

    slideGallery.addEventListener('scroll', e => highlightThumbnail());

    highlightThumbnail();
</script>
</html>
    