<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class='body-overlay'>
                <h1>
                    <a href='/profiles/newuser'>Create New Profile</a>
                </h1>
        <ul class='main-index'>
            <% for (let i = 0; i < users.length; i++){%>
            <li class='main-li'>
                <a href='/profiles/<%= users[i].id %>'><%= users[i].name %></a> 
                <img src='<%=users[i].profileimg %>' class='homeimg' alt='profileimg'>
            </li>
            <% } %>
        </ul>
    </div>
        <%- include('../partials/footer.ejs') %>
</body>
</html>